@import "../../styles/variables";

.wrapper {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: calc(100vh - 140px);
    max-width: 100%;
    overflow: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 20px;
    }

    &::-webkit-scrollbar-track {
        border-right: 10px solid $primary-color;
        background-color: $input-color;
    }

    &::-webkit-scrollbar-thumb {
        border-right: 10px solid $primary-color;
        background-color: $border-color;
    }
}
